<<<<<<< HEAD
#container_home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.box {
  display: flex;
  height: 88vh;
  width: 100%;
  text-align: center;
  justify-content: center;
  border-radius: 12px;
  margin: 1rem;
=======
.container_home{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  display:flex;
  background-image: url('../media/background.png');
  background-size: cover;
  background-position: center;
}

.column-content {
  text-align: center;
>>>>>>> 4b6fb3348df725babbf89526366f56d0c0c6496b
}

.team-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-column {
  width: 300px;
  margin: 20px;
  text-align: center;
}


.box {
  display: flex;
  /* height: 88vh; */
  width: 100%;
  text-align: center;
  justify-content: center;
  border-radius: 12px;
  margin: 1rem;
}

.team-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.team-column {
  width: 300px;
  margin: 20px;
  text-align: center;
}


.team-column img{
  width: 100px;
}