
#home .container_home{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display:flex;
  background-image: url('../media/background.png');
  background-size: cover;
  background-position: center;

}

#home .column-content {
  padding-top: 20vh;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #3e2e2e;
}

#home .intro-container{
  text-align: center;
  padding: 5%;
  padding-left: 15%;
  padding-right: 15%;
}

#home .team-container {
  text-align: center;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  position: relative; /* Added */
}

#home .team-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url('../media/dogs.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.7; /* Adjust the opacity value as per your preference */
  z-index: -1;
}
#home .team-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

#home .team-column {
  width: 300px;
  margin: 20px;
  text-align: center;
  padding: 2%;
  background-color: white;
}


#home .box {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  border-radius: 12px;
  margin: 1rem;
}


#home.team-column img{
  width: 100px;
}


#home .subtitle{
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color: #3e2e2e;
}



/* aims */

#home .aims-container{
  text-align: center;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #d882363b;

}
#home .aims-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    
  }

  #home .img-aims-column {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }

#home .text-aims-column {
  padding-left: 5%;
  padding-right: 5%;
  width: 60%;
}


#home .target-container{
  text-align: center;
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;

}
#home .target-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: justify;
  
}

#home .img-target-column {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

#home .text-target-column {
padding-left: 5%;
padding-right: 5%;
width: 60%;
}