#home .container_home{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
  display:flex;
  background-image: url('../media/background.png');
  background-size: cover;
  background-position: center;

}

#home .column-content {
  padding-top: 8%;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #3e2e2e;
}

#home .team-container{
  text-align: center;
  padding: 5%;

}
#home .team-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

#home .team-column {
  width: 300px;
  margin: 20px;
  text-align: center;
}


#home .box {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  border-radius: 12px;
  margin: 1rem;
}


#home.team-column img{
  width: 100px;
}


#home .subtitle{
  font-size: 40px;
  font-weight: 700;
  color: #3e2e2e;
}



/* aims */

#home .aims-container{
  text-align: center;
  padding: 5%;

}
#home .aims-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    text-align: justify;
    
  }

  #home .img-aims-column {
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }

#home .text-aims-column {
  padding-left: 5%;
  padding-right: 5%;
  width: 60%;
}


#home .target-container{
  text-align: center;
  padding: 5%;

}
#home .target-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-align: justify;
  
}

#home .img-target-column {
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

#home .text-target-column {
padding-left: 5%;
padding-right: 5%;
width: 60%;
}