.tableau-container {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .row {
    width: 100%;
  }
  
  .col {
    flex-basis: 100%;
  }
  
  .tableau-viz {
    background-color: rgba(245,245,245,.85);
    text-align: justify;
    width: min-content;
    margin: auto;
    margin-bottom: 5%;
  }

  .conclutions{
    padding: 1%;
  }

  
  #viz-client-container{
    margin:auto!important;
  }
