.tableau-container {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .row {
    width: 100%;
  }
  
  .col {
    flex-basis: 100%;
  }
  
  .tableau-viz {
    width: min-content;
    margin: auto;
    border: 2px solid #3e2e2e;
    margin-bottom: 5%;
  }

  
  #viz-client-container{
    margin:auto!important;
  }
