.tableau-container {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  
  .row {
    width: 100%;
  }
  
  .col {
    flex-basis: 100%;
  }
  
  .tableau-viz {
    /* background-color: rgba(245,245,245,.85); */
    text-align: justify;
    width: min-content;
    margin: auto;
    margin-bottom: 5%;
  }

  .conclutions{
    padding: 1%;
  }

  
  #viz-client-container{
    margin:auto!important;
  }


  .con-col{
    width: 100%;
    display: flex;
  }

  .con-col .coll{
    padding-right: 1%;
    width: 25%;
  }

  .collr{
    padding-left: 1%;
    border-left: 2px solid gray;
    width: 75%!important;

  }

.blue{
  color: #4e79a7;
  font-weight: 600;

}

.pink{
  color: #b07aa1;
  font-weight: 600;

}

.green{
  color: #59a14f;
  font-weight: 600;

}

.brown{
  color: #9d7660;
  font-weight: 600;
}