
#team .container_team{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    display:flex;
    background-image: url('../media/team_background.png');
    background-size: cover;
    background-position: center;
  
  }
  
  #team .column-content {
    padding: 5vh;
    padding-top: 20vh;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    color: #3e2e2e;
  }
  

  
  #team .team-container {
    text-align: center;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  #team .team-container p{
    text-align: justify;
  }

  
  #team .box {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-radius: 12px;
    margin: 1rem;
  }
   
  #team .subtitle{
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    color: #3e2e2e;
  }



  #team .team-content {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  
  #team .team-column {
    width: 30%;
    margin: 20px;
    text-align: center;
    padding: 2%;
    background-color: white;
  }
  
  #team .team-column  img{
    width: 200px;
    border-radius: 50%;
    border: 1px solid #3e2e2e;
  }
